
.mid{
    background-image:url("/images/gymMain1.jpg");
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size:cover;
    height: 45rem;
    overflow-x: hidden;
}
.midP-container{
    position: relative;
    top: 15.7rem;
    left: 8rem;
    margin: 0;
    padding: 0;
}
.mid-head1{
    color: white;
    /* position: relative;
    top: 15rem;
    left: 9rem; */
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    margin: 0;
    padding: 0;
}
.mid-head2{
    color: white;
    position: relative;
    /* top: 17rem;
    left: -1.5rem;
    font-size: 2rem; */
    font-weight: bold;
    font-family: serif;
    margin: 0;
    padding: 0;

    
}
.mid-head3{
    color: rgb(251, 9, 5);
    /* position: relative;
    top: 20rem;
    left: -15rem; */
    font-size: 2rem;
    font-weight: 800;
    font-family: serif;
    margin: 0;
    padding: 0;

}
.mid-head4{
    background-color:#002448;
    color: wheat;
    border: 2px solid wheat;
    font-family: serif;
    width: 11rem;
    height: 3rem;
    border-radius: 6px;

}

.mid-head4:hover{
    background-image:-webkit-linear-gradient(65deg, rgba(150, 110, 51, 0.59) 40%, rgba(145, 25, 236, 0.989) 60%);
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    

}
.about{
    font-size: 2rem;
    font-weight: bold;
    /* position: relative; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 1rem;
}
.about-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://static1.hkrtcdn.com/mbnext/static/media/common/popular.svg");
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30rem;
    
}

.about-sec button{
    background-color: rgb(7, 7, 7);
    color: aliceblue;
    width: 8rem;
    height: 2rem;
    /* border-radius: 2px; */
    border-radius: 20px 40px;
    font-weight: 600;
}
.about-sec button:hover{
    border-radius: 30px 20px;

}

.userBody{
    height: 100%;
    background-color: black;
    background-size: cover;
}
.main-header{
    display: flex;
    justify-content: space-between;
    /* background-color: #002448; */
    width: 100%;
    padding: 1rem;
}
.main-header2{
    color: orange;
    /* color:-webkit-linear-gradient(65deg, rgb(255, 8, 0) 70%, gray 30%); */

}
.avtar{
    display: inline;
    margin: 1rem;
}
.logOut{
    background-color: red;
    margin: 0.3rem 0 0 0;

}
.backHome{
    color: aliceblue;
    /* width: 100%; */
    margin: 2rem 2rem 0 0;
    font-weight: 700;
    /* background-color: black; */
}
.user-mainInfo{
    position: fixed;
    width: 37rem;
    height: 25rem;
    padding: -3rem 0 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-image:-webkit-linear-gradient(65deg, rgba(152, 225, 16, 0.441) 40%, rgba(11, 106, 81, 0.989) 60%);
    
}
html,body,#root,.main{
    height: 100%;
}
/* .pic{
width: 3rem;    
height: 3rem;
background-color: black;
border-radius: 30px;
margin: 0.3rem 1rem 1rem 1rem;
} */
.name{
    margin: 1rem 0 0 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color:black;
}
.email{
    margin: 1rem 0 0 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}
.mobile{
    margin: 1rem 0 0 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}
.payNow{
    margin: 2rem 0 0 2.5rem;
}
.mainModal{
    display: flex;
    width: 40rem;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    top: -67%;
    left: -4%;
    /* transform: translate(50%,50%); */
}

